<!-- Contenido principal -->
<div class="w-full mt-2 overflow-y-auto rounded-lg">
    <div id="scrollable-content"
        class="relative flex flex-col w-full h-full p-2 text-black bg-white shadow-md rounded-xl">
        <div class="relative flex flex-col w-full overflow-y-auto bg-white">
            <!-- Apartir de qui, poner los demas contenido-->
            <div class="flex items-center justify-between p-2 border-b">
                <div class="flex items-center justify-between p-2">
                    <div class="flex items-center justify-between">
                        <h2 class="bg-clip-text text-gray-600 text-xl font-bold">
                            Buscar productos
                        </h2>
                        <button (click)="toggleDropdown()" class="text-xs text-black rounded">
                            <ng-container *ngIf="isDropdownOpen; else plusIcon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="size-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        class="size-5">
                                        <path fill-rule="evenodd"
                                            d="M9.47 4.72a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 1 1-1.06 1.06L10 6.31l-3.72 3.72a.75.75 0 1 1-1.06-1.06l4.25-4.25Zm-4.25 9.25 4.25-4.25a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 1 1-1.06 1.06L10 11.31l-3.72 3.72a.75.75 0 0 1-1.06-1.06Z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </svg>
                            </ng-container>
                            <ng-template #plusIcon>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="size-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        class="size-5">
                                        <path fill-rule="evenodd"
                                            d="M9.47 15.28a.75.75 0 0 0 1.06 0l4.25-4.25a.75.75 0 1 0-1.06-1.06L10 13.69 6.28 9.97a.75.75 0 0 0-1.06 1.06l4.25 4.25ZM5.22 6.03l4.25 4.25a.75.75 0 0 0 1.06 0l4.25-4.25a.75.75 0 0 0-1.06-1.06L10 8.69 6.28 4.97a.75.75 0 0 0-1.06 1.06Z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </svg>
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
            <div [ngClass]="{ 'hidden': !isDropdownOpen, 'block': isDropdownOpen }" class="overflow-y-auto">
                <div class="flex items-center justify-between p-4">
                    <button
                        class="bg-green-400 rounded-md py-2 px-2 text-center text-sm font-semibold text-white flex items-center space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd"
                                d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z"
                                clip-rule="evenodd" />
                        </svg>
                        <span>Buscar</span>
                    </button>
                </div>
                <div class="relative mx-4 mt-4  text-slate-700 rounded-none bg-clip-border mb-2">
                    <div class="grid flex-grow md:grid-cols-4 gap-4">
                        <div class="mb-4">
                            <label for="" class="block text-sm font-medium text-gray-700 mb-1">
                                Código del producto
                            </label>
                            <div class="flex items-center">
                                <div
                                    class="bg-green-400 w-10 h-10 flex justify-center items-center rounded-l-md text-white font-bold p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                        class="size-4">
                                        <path fill-rule="evenodd"
                                            d="M10 3a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v9a2 2 0 0 0 2 2h8a2 2 0 0 1-2-2V3ZM4 4h4v2H4V4Zm4 3.5H4V9h4V7.5Zm-4 3h4V12H4v-1.5Z"
                                            clip-rule="evenodd" />
                                        <path d="M13 5h-1.5v6.25a1.25 1.25 0 1 0 2.5 0V6a1 1 0 0 0-1-1Z" />
                                    </svg>
                                </div>
                                <input id="numero-documento-secundario" type="text" required
                                    class="w-full border border-gray-500 p-2 focus:ring focus:ring-blue-500 rounded-r-md">
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="" class="block text-sm font-medium text-gray-700 mb-1">
                                Nombre del producto
                            </label>
                            <div class="flex items-center">
                                <div
                                    class="bg-green-400 w-10 h-10 flex justify-center items-center rounded-l-md text-white font-bold p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                        class="size-4">
                                        <path fill-rule="evenodd"
                                            d="M5 4a3 3 0 0 1 6 0v1h.643a1.5 1.5 0 0 1 1.492 1.35l.7 7A1.5 1.5 0 0 1 12.342 15H3.657a1.5 1.5 0 0 1-1.492-1.65l.7-7A1.5 1.5 0 0 1 4.357 5H5V4Zm4.5 0v1h-3V4a1.5 1.5 0 0 1 3 0Zm-3 3.75a.75.75 0 0 0-1.5 0v1a3 3 0 1 0 6 0v-1a.75.75 0 0 0-1.5 0v1a1.5 1.5 0 1 1-3 0v-1Z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <input id="numero-documento-secundario" type="text" required
                                    class="w-full border border-gray-500 p-2 focus:ring focus:ring-blue-500 rounded-r-md">
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="" class="block text-sm font-medium text-gray-700 mb-1">
                                Categoria
                            </label>
                            <div class="flex items-center">
                                <div
                                    class="bg-green-400 w-10 h-10 flex justify-center items-center rounded-l-md text-white font-bold p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                        class="size-4">
                                        <path
                                            d="M3 3.5A1.5 1.5 0 0 1 4.5 2h1.879a1.5 1.5 0 0 1 1.06.44l1.122 1.12A1.5 1.5 0 0 0 9.62 4H11.5A1.5 1.5 0 0 1 13 5.5v1H3v-3ZM3.081 8a1.5 1.5 0 0 0-1.423 1.974l1 3A1.5 1.5 0 0 0 4.081 14h7.838a1.5 1.5 0 0 0 1.423-1.026l1-3A1.5 1.5 0 0 0 12.919 8H3.081Z" />
                                    </svg>

                                </div>
                                <input id="numero-documento-secundario" type="text" required
                                    class="w-full border border-gray-500 p-2 focus:ring focus:ring-blue-500 rounded-r-md">
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="" class="block text-sm font-medium text-gray-700 mb-1">
                                Marca
                            </label>
                            <div class="flex items-center">
                                <div
                                    class="bg-green-400 w-10 h-10 flex justify-center items-center rounded-l-md text-white font-bold p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                        class="size-4">
                                        <path fill-rule="evenodd"
                                            d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm3.844-8.791a.75.75 0 0 0-1.188-.918l-3.7 4.79-1.649-1.833a.75.75 0 1 0-1.114 1.004l2.25 2.5a.75.75 0 0 0 1.15-.043l4.25-5.5Z"
                                            clip-rule="evenodd" />
                                    </svg>

                                </div>
                                <input id="numero-documento-secundario" type="text" required
                                    class="w-full border border-gray-500 p-2 focus:ring focus:ring-blue-500 rounded-r-md">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex items-center justify-between p-4">
                <div class="text-2xl font-extrabold">
                    <span class="bg-clip-text text-black">
                        Productos
                    </span>
                </div>
            </div>
            <div class="p-0 overflow-scroll">
                <table class="w-full mt-4 text-left table-auto min-w-max ">
                    <thead>
                        <tr>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center justify-between gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Codigo</p>

                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center justify-between gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Accion</p>
                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Nombre</p>

                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Imagen</p>
                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Descripcion</p>

                                </div>
                            </th>

                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Categoria</p>


                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Modelo</p>


                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Marca</p>

                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Stock</p>

                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Precio de venta</p>

                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Garantía</p>

                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Utilidad por porcentaje</p>

                                </div>
                            </th>
                            <th class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50">
                                <div
                                    class="flex items-center gap-2 font-sans text-sm font-bold leading-none text-black">
                                    <p>Estado</p>

                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="p-4 border-b border-slate-200">
                                <div class="flex items-center gap-3">
                                    <p class="text-sm font-semibold text-slate-700">
                                        001
                                    </p>
                                </div>
                            </td>
                            <td class="p-4 border-b border-slate-200">
                                <div class="w-max">
                                    <button
                                        class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-white uppercase rounded-md select-none whitespace-nowrap bg-black">
                                        <span class="">Agregar</span>
                                    </button>
                                </div>
                            </td>
                            <td class="p-4 border-b border-slate-200">
                                <div class="flex items-center gap-3">
                                    <p class="text-xs font-semibold text-slate-700 break-words max-w-xs">
                                        Laptop HP de 14" com 288 gb de almacenamiento
                                    </p>
                                </div>
                            </td>
                            <td class="px-4 py-2 border">
                                <img src="https://acortar.link/NXOFU7" class="w-16 h-16 object-cover rounded"
                                    alt="Product Image" />
                            </td>
                            <td class="p-4 border-b border-slate-200">
                                <div class="flex items-center gap-3">
                                    <p class="text-xs font-semibold text-slate-700 break-words max-w-xs">
                                        HP Stream - Laptop BrightView HD de 14 pulgadas, Intel Celeron N4120, 16 GB
                                        de RAM, 288 GB de almacenamiento
                                        (128 GB eMMC + 160 GB de estación de acoplamiento), gráficos Intel UHD,
                                        cámara web 720p
                                    </p>
                                </div>
                            </td>

                            <td class="p-4 border-b border-slate-200">
                                <div class="flex items-center gap-3">
                                    <p class="text-sm font-semibold text-slate-700">
                                        Monitores
                                    </p>
                                </div>
                            </td>
                            <td class="p-4 border-b border-slate-200">
                                <div class="flex items-center gap-3">
                                    <p class="text-sm font-semibold text-slate-700">
                                        ProBook
                                    </p>
                                </div>
                            </td>
                            <td class="p-4 border-b border-slate-200">
                                <div class="flex items-center gap-3">
                                    <p class="text-sm font-semibold text-slate-700">
                                        HP
                                    </p>
                                </div>
                            </td>
                            <td class="p-4 border-b border-slate-200">
                                <div class="flex items-center gap-3">
                                    <p class="text-sm font-semibold text-slate-700">
                                        13
                                    </p>
                                </div>
                            </td>
                            <td class="p-4 border-b border-slate-200">
                                <div class="flex items-center gap-3">
                                    <p class="text-sm font-semibold text-slate-700">
                                        s/2.799
                                    </p>
                                </div>
                            </td>
                            <td class="p-4 border-b border-slate-200">
                                <div class="flex items-center gap-3">
                                    <p class="text-sm font-semibold text-slate-700">
                                        1 año
                                    </p>
                                </div>
                            </td>
                            <td class="p-4 border-b border-slate-200">
                                <div class="flex items-center gap-3">
                                    <p class="text-sm font-semibold text-slate-700">
                                        50%
                                    </p>
                                </div>
                            </td>
                            <td class="p-4 border-b border-slate-200">
                                <div class="w-max">
                                    <div
                                        class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-black uppercase rounded-md select-none whitespace-nowrap bg-green-300">
                                        <span class="">En stock</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex flex-col md:flex-row gap-6 mt-6 p-4">
                <div class="w-full md:w-64 bg-white rounded-lg overflow-hidden"
                    style="box-shadow: 0 2px 15px rgb(155, 155, 155); border-radius: 8px;">
                    <div class="px-6 py-4">
                        <h2 class="text-lg font-semibold text-gray-800 mb-3 border-b">Productos añadidos</h2>
                        <div class="p-4 space-y-4 overflow-y-auto" style="max-height: calc(70vh - 64px);">
                            <div class="flex items-center space-x-4">
                                <div class="w-16 h-16 bg-gray-200 rounded-md"></div>
                                <div class="flex-grow">
                                    <h3 class="font-medium">Teclado</h3>
                                    <p class="text-gray-600">S/ 189.99</p>
                                </div>
                                <div class="flex items-center space-x-2">
                                    <button class="text-gray-500 hover:text-gray-700 btn-decrement"><i
                                            class="fas fa-chevron-down"></i></button>
                                    <span class="item-count">1</span>
                                    <button class="text-gray-500 hover:text-gray-700 btn-increment"><i
                                            class="fas fa-chevron-up"></i></button>
                                </div>
                                <button class="text-red-500 hover:text-red-700"><i class="fas fa-trash"></i></button>
                            </div>
                            <div class="flex items-center space-x-4">
                                <div class="w-16 h-16 bg-gray-200 rounded-md"></div>
                                <div class="flex-grow">
                                    <h3 class="font-medium">Teclado</h3>
                                    <p class="text-gray-600">S/ 189.99</p>
                                </div>
                                <div class="flex items-center space-x-2">
                                    <button class="text-gray-500 hover:text-gray-700 btn-decrement"><i
                                            class="fas fa-chevron-down"></i></button>
                                    <span class="item-count">1</span>
                                    <button class="text-gray-500 hover:text-gray-700 btn-increment"><i
                                            class="fas fa-chevron-up"></i></button>
                                </div>
                                <button class="text-red-500 hover:text-red-700"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-grow bg-white h-full"
                    style="box-shadow: 0 2px 15px rgb(155, 155, 155); border-radius: 8px; width: 80%;">
                    <div class="px-6 py-4">
                        <h2 class="text-lg font-semibold text-gray-800 mb-3 border-b">Detalle de Pago</h2>
                        <div class="border-gray-200 pt-3">
                            <div class="flex justify-between items-center mb-2">
                                <span class="text-sm text-gray-800">Subtotal</span>
                                <span class="text-sm text-gray-800 font-medium">S/ 114.95</span>
                            </div>
                            <div class="flex justify-between items-center mb-3">
                                <span class="text-sm text-gray-800">Total</span>
                                <span class="text-sm text-gray-800 font-medium">S/ 114.95</span>
                            </div>
                            <button
                                class="btnOpenModal w-full bg-purple-600 text-white py-2 rounded-md hover:bg-purple-700 transition duration-300">Pagar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Botón para abrir la barra lateral -->
    <!-- vender producto -->
    <div id="modalEdit" class="flex flex-col fixed inset-0 items-center justify-center hidden z-50"
        style="background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(1px);">
        <div style="width: 90%; margin: 20px auto; padding: 10px;"
            class="bg-white rounded-lg shadow-lg overflow-y-auto">
            <div class="w-full rounded-lg px-4 md:px-16 lg:px-24 p-2 md:p-8 relative overflow-y-auto">
                <button class="absolute top-2 right-2 text-black text-4xl md:text-6xl lg:text-7xl font-bold"
                    id="btnCloseEdit" (click)="openCancelModal()">
                    ×
                </button>
                <div class="w-full max-h-[90vh]">
                    <form>
                        <div class="p-6 mb-8">
                            <div class="flex items-center justify-between mt-4 border-b">
                                <h2 class="bg-clip-text text-gray-600 text-xl font-bold">
                                    Registro del cliente
                                </h2>
                            </div>
                            <form id="clienteForm" class="flex-grow grid md:grid-cols-4 mt-4 gap-6">

                                <div>
                                    <label for="dni" class="block text-sm font-medium text-gray-700 mb-1">Buscar
                                        por:</label>
                                    <select
                                        class="w-full border border-gray-300 p-2 rounded-md focus:ring focus:ring-blue-500"
                                        required>
                                        <option value="" disabled selected>Seleccione uno</option>
                                        <option>DNI</option>
                                        <option>RUC</option>
                                    </select>
                                </div>

                                <div>
                                    <label for="nombre" class="block text-sm font-medium text-gray-700 mb-1">Buscar
                                        numero
                                        de documento</label>
                                    <input type="text" id="" name="nombre"
                                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                                </div>
                                <td class="p-4 border-slate-200">
                                    <button class="w-max">
                                        <div
                                            class="relative grid items-center px-2 py-1 text-black rounded-md bg-blue-400">
                                            <h2 class="">Buscar cliente</h2>
                                        </div>
                                    </button>
                                </td>
                            </form>
                            <div class="flex items-center justify-between mt-4 border-b">
                                <h2 class="bg-clip-text text-gray-600 text-xl font-bold">
                                    Datos del cliente
                                </h2>
                            </div>
                            <form id="clienteForm" class="flex-grow grid md:grid-cols-4 gap-6 mt-4">
                                <div>
                                    <label for="dni" class="block text-sm font-medium text-gray-700 mb-1">Tipo de
                                        documento</label>
                                    <select
                                        class="w-full border border-gray-300 p-2 rounded-md focus:ring focus:ring-blue-500"
                                        required>
                                        <option value="" disabled selected>Seleccione uno</option>
                                        <option>DNI</option>
                                        <option>RUC</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="nombre" class="block text-sm font-medium text-gray-700 mb-1">Numero de
                                        documento</label>
                                    <input type="text" id="nombre" name="nombre"
                                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                                </div>
                                <div>
                                    <label for="nombre" class="block text-sm font-medium text-gray-700 mb-1">Apellido
                                        Paterno </label>
                                    <input type="text" id="nombre" name="nombre"
                                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                                </div>
                                <div>
                                    <label for="nombre" class="block text-sm font-medium text-gray-700 mb-1">Apellido
                                        Materno</label>
                                    <input type="text" id="nombre" name="nombre"
                                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                                </div>
                                <div>
                                    <label for="nombre"
                                        class="block text-sm font-medium text-gray-700 mb-1">Nombres</label>
                                    <input type="text" id="nombre" name="nombre"
                                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                                </div>
                                <div>
                                    <label for="nombre" class="block text-sm font-medium text-gray-700 mb-1">Correo
                                        electronico</label>
                                    <input type="text" id="nombre" name="nombre"
                                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                                </div>
                                <div>
                                    <label for="fecha-venta" class="block text-sm font-medium text-gray-700">Fecha de
                                        venta</label>
                                    <input id="fecha-venta" type="date" required
                                        class="w-full border border-gray-300 p-2 rounded-md focus:ring focus:ring-blue-500">
                                </div>
                            </form>
                            <div class="flex items-center justify-between mt-4 border-b">
                                <h2 class="bg-clip-text text-gray-600 text-xl font-bold">
                                    Metodo de pago
                                </h2>
                            </div>
                            <div>
                                <main class="w-full max-w-3x overflow-hidden">
                                    <div class="p-6 ">
                                        <nav class="mb-6 sm:mb-8">
                                            <ul class="grid grid-cols-3 gap-2 sm:gap-4" role="tablist">
                                                <li role="presentation">
                                                    <button (click)="selectTab('card')"
                                                        class="w-full flex flex-col items-center justify-center p-3 sm:p-4 rounded-lg transition-all duration-300"
                                                        [ngClass]="{ 'bg-indigo-600 text-white shadow-lg': selectedTab === 'card', 'bg-gray-200 text-gray-600': selectedTab !== 'card' }"
                                                        role="tab" aria-selected="true">
                                                        <i
                                                            class="fas fa-credit-card text-xl sm:text-2xl mb-1 sm:mb-2"></i>
                                                        <span class="hidden sm:inline text-xs sm:text-sm">Tarjeta de
                                                            Crédito/Débito</span>
                                                        <h3 class="text-xs">Tarjeta</h3>
                                                    </button>
                                                </li>
                                                <li role="presentation">
                                                    <button (click)="selectTab('yape')"
                                                        class="w-full flex flex-col items-center justify-center p-3 sm:p-4 rounded-lg transition-all duration-300"
                                                        [ngClass]="{ 'bg-indigo-600 text-white shadow-lg': selectedTab === 'yape', 'bg-gray-200 text-gray-600': selectedTab !== 'yape' }"
                                                        role="tab" aria-selected="false">
                                                        <i class="fas fa-wallet text-xl sm:text-2xl mb-1 sm:mb-2"></i>
                                                        <h3 class="text-xs">Yape</h3>
                                                    </button>
                                                </li>
                                                <li role="presentation">
                                                    <button (click)="selectTab('cash')"
                                                        class="w-full flex flex-col items-center justify-center p-3 sm:p-4 rounded-lg transition-all duration-300"
                                                        [ngClass]="{ 'bg-indigo-600 text-white shadow-lg': selectedTab === 'cash', 'bg-gray-200 text-gray-600': selectedTab !== 'cash' }"
                                                        role="tab" aria-selected="false">
                                                        <i
                                                            class="fas fa-money-bill-wave text-xl sm:text-2xl mb-1 sm:mb-2"></i>
                                                        <span class="hidden sm:inline text-xs sm:text-sm">Pago en
                                                            Efectivo</span>
                                                        <h3 class="text-xs">Efectivo</h3>
                                                    </button>
                                                </li>
                                            </ul>
                                        </nav>

                                        <!-- Tarjeta de crédito/débito -->
                                        <div *ngIf="selectedTab === 'card'"
                                            style="box-shadow: 0 2px 15px rgb(155, 155, 155)"
                                            class=" rounded-xl p-4 sm:p-6 shadow-inner" role="tabpanel">
                                            <h2 class="text-lg sm:text-xl font-semibold mb-3 sm:mb-4 text-gray-800">Pago
                                                con Tarjeta</h2>
                                            <p class="text-sm text-gray-600 mb-4 sm:mb-6">Ingrese los detalles de su
                                                tarjeta para procesar el pago
                                            </p>
                                            <form class="space-y-4" (ngSubmit)="validateForm('card')">
                                                <div>
                                                    <label for="cardNumber" class="sr-only">Número de tarjeta</label>
                                                    <input type="text" id="cardNumber" placeholder="Número de tarjeta"
                                                        class="w-full px-3 sm:px-4 py-2 rounded-lg border" required
                                                        pattern="\d{16}">
                                                </div>
                                                <div class="grid grid-cols-2 gap-4">
                                                    <div>
                                                        <label for="expiryDate" class="sr-only">Fecha de
                                                            expiración</label>
                                                        <input type="text" id="expiryDate" placeholder="MM/AA"
                                                            class="w-full px-3 sm:px-4 py-2 rounded-lg border" required
                                                            pattern="(0[1-9]|1[0-2])\/\d{2}">
                                                    </div>
                                                    <div>
                                                        <label for="cvv" class="sr-only">CVV</label>
                                                        <input type="text" id="cvv" placeholder="CVV"
                                                            class="w-full px-3 sm:px-4 py-2 rounded-lg border" required
                                                            pattern="\d{3,4}">
                                                    </div>
                                                </div>
                                                <button type="submit"
                                                    class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition duration-300">Pagar
                                                    con tarjeta</button>
                                            </form>
                                        </div>

                                        <!-- Pago con Yape -->
                                        <div *ngIf="selectedTab === 'yape'"
                                            style="box-shadow: 0 2px 15px rgb(155, 155, 155)"
                                            class="rounded-xl p-4 sm:p-6 shadow-inner" role="tabpanel">
                                            <h2 class="text-lg sm:text-xl font-semibold mb-3 sm:mb-4 text-gray-800">Pago
                                                con Yape</h2>
                                            <p class="text-sm text-gray-600 mb-4 sm:mb-6">Use su cuenta de Yape para
                                                realizar el pago</p>
                                            <form class="space-y-4" (ngSubmit)="validateForm('yape')">
                                                <div>
                                                    <label for="phoneNumber" class="sr-only">Número de celular</label>
                                                    <input type="tel" id="phoneNumber"
                                                        placeholder="Ingrese su número de celular"
                                                        class="w-full px-3 sm:px-4 py-2 rounded-lg border" required
                                                        pattern="\d{9}">
                                                </div>
                                                <div>
                                                    <label for="confirmationCode" class="sr-only">Código de
                                                        confirmación</label>
                                                    <input type="text" id="confirmationCode"
                                                        placeholder="Ingrese el código de confirmación"
                                                        class="w-full px-3 sm:px-4 py-2 rounded-lg border" required
                                                        pattern="\d{6}">
                                                </div>
                                                <button type="submit"
                                                    class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition duration-300">Confirmar
                                                    pago</button>
                                            </form>
                                        </div>

                                        <!-- Pago en efectivo -->
                                        <div *ngIf="selectedTab === 'cash'"
                                            style="box-shadow: 0 2px 15px rgb(155, 155, 155)"
                                            class="rounded-xl p-4 sm:p-6 shadow-inner" role="tabpanel">
                                            <h2 class="text-lg sm:text-xl font-semibold mb-3 sm:mb-4 text-gray-800">Pago
                                                en Efectivo</h2>
                                            <p class="text-sm text-gray-600 mb-4 sm:mb-6">Ingrese los detalles del pago
                                                en efectivo</p>
                                            <form class="space-y-4" (ngSubmit)="validateForm('cash')">
                                                <div>
                                                    <label for="amountReceived" class="sr-only">Monto recibido</label>
                                                    <input type="number" id="amountReceived"
                                                        placeholder="Ingrese el monto recibido"
                                                        class="w-full px-3 sm:px-4 py-2 rounded-lg border" required
                                                        min="0" step="0.01">
                                                </div>
                                                <button type="submit"
                                                    class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition duration-300">Confirmar
                                                    pago en efectivo</button>
                                            </form>
                                        </div>
                                    </div>
                                </main>
                            </div>
                        </div>
                        <div class="flex items-center justify-between mt-4 border-b">
                            <h2 class="bg-clip-text text-gray-600 text-xl font-bold">
                                Emicion del comprovante
                            </h2>
                        </div>
                        <div class="container mx-auto p-4">
                            <div class="flex-grow grid md:grid-cols-2 gap-6">
                                <!-- Datos del Cliente -->
                                <div class="bg-white rounded-lg shadow-lg p-6 border-t-4 border-black">
                                    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Datos del Cliente</h2>
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                        <div>
                                            <label for="dni" class="block text-gray-700 font-medium mb-2">DNI:</label>
                                            <input type="text" id="dni"
                                                class="shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        </div>
                                        <div>
                                            <label for="nombre"
                                                class="block text-gray-700 font-medium mb-2">Nombre:</label>
                                            <input type="text" id=""
                                                class="shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        </div>
                                        <div class="col-span-2">
                                            <label for="direccion"
                                                class="block text-gray-700 font-medium mb-2">Dirección:</label>
                                            <input type="text" id="direccion"
                                                class="shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        </div>
                                        <div class="col-span-2">
                                            <label for="direccion"
                                                class="block text-gray-700 font-medium mb-2">Email:</label>
                                            <input type="text" id="direccion"
                                                class="shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        </div>
                                    </div>
                                </div>

                                <!-- Datos del Pago -->
                                <div class="bg-white rounded-lg shadow-lg p-6 border-t-4 border-green-500">
                                    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Datos del Pago</h2>
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                        <div>
                                            <label for="monto"
                                                class="block text-gray-700 font-medium mb-2">Monto:</label>
                                            <input type="text" id="monto"
                                                class="shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-green-500"
                                                value="S/ 500.00">
                                        </div>
                                        <div>
                                            <label for="fecha"
                                                class="block text-gray-700 font-medium mb-2">Fecha:</label>
                                            <input type="date" id="fecha"
                                                class="shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-green-500"
                                                value="2022-01-01">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Detalle del Pago -->
                            <div class="bg-white rounded-lg shadow-xl p-6 mt-8 border-t-4 border-blue-400">
                                <h2 class="text-2xl font-semibold text-gray-800 mb-4">Detalle del Pago</h2>
                                <table class="table-auto w-full">
                                    <thead>
                                        <tr class="bg-gray-200">
                                            <th class="px-4 py-2 text-left text-gray-700 font-semibold">Concepto
                                            </th>
                                            <th class="px-4 py-2 text-left text-gray-700 font-semibold">Monto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bg-gray-100">
                                            <td class="px-4 py-3 border-b">Monitor</td>
                                            <td class="px-4 py-3 border-b">S/ 200.00</td>
                                        </tr>
                                        <tr>
                                            <td class="px-4 py-3 border-b">Teclado</td>
                                            <td class="px-4 py-3 border-b">S/ 150.00</td>
                                        </tr>
                                        <tr class="bg-gray-100">
                                            <td class="px-4 py-3">Mause</td>
                                            <td class="px-4 py-3">S/ 150.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Botón de acción -->
                            <div class="text-center mt-8">
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                                    Pagar y enviar Comprobante
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="flex justify-end items-center gap-5">
                    <!-- Botón Cancelar -->
                    <button type="button" class="flex text-red-800" id="btnCancelEdit" (click)="openCancelModal()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                        <span>Cancelar</span>
                    </button>
                    <button type="button" class="flex text-blue-800" id="btnSaveEdit">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                        </svg>
                        <span>Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>